:root {
  --zero-theme: #11a8cd;
  --zero-main: var(--zero-theme);
  --zero-theme-op: #4259ef23;
  --zero-theme-op-deep: #4259efdd;
  --zero-theme-none: #4259ef01;
  --zero-blue: #425aef;
  --zero-red: #f04a63;
  --zero-pink: #ff7c7c;
  --zero-green: #57bd6a;
  --zero-yellow: #c28b00;
  --zero-yellow-op: #d99c001a;
  --zero-orange: #e38100;
  --zero-purple: #7a60d2;
  --main-font-color: #363636;
  --main-background-color: #f7f9fe;
  --zero-reverse: #000;
  --zero-mask-bg: rgba(255, 255, 255, 0.6);
  --zero-mask-bg-deep: rgba(255, 255, 255, 0.85);
  --zero-hover-text: var(--zero-main);
  --zero-a-hover-bg: #f7f7fa;
  --zero-light-text: var(--zero-main);
  --zero-second-text: rgba(60, 60, 67, 0.8);
  --para-color: var(--zero-reverse);
  --zero-scrollbar: rgba(60, 60, 67, 0.4);
  --zero-card-btn-bg: #edf0f7;
  --zero-post-blockquote-bg: #fafcff;
  --zero-post-tabs-bg: #f2f5f8;
  --zero-second-bg: #f1f3f8;
  --zero-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --zero-card-bg: #fff;
  --zero-card-bg-op: var(--zero-black-op);
  --zero-card-bg-none: rgba(255, 255, 255, 0);
  --zero-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --zero-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --zero-card-border: #e3e8f7;
  --zero-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--zero-card-border);
  --style-border-always: 1px solid var(--zero-card-border);
  --style-border-hover: 1px solid var(--zero-main);
  --style-border-hover-always: 1px solid var(--zero-main);
  --style-border-dashed: 1px dashed var(--zero-theme-op);
  --style-border-forever: 2px solid var(--zero-main);
  --blockquote-border-left-color: #dce6f0;
  --blockquote-bg-color: #f2f7fb;
  --vp-code-color: #222;
  --vp-code-bg: #f8f8f8;
  --table-th-bg-color: #575c61;
  --table-th-font-color: #f3f3f3;
  --table-border-color: var(--main-font-color);
  --table-evenrow-color: var(--zero-second-bg);
  --table-focusrow-color: var(--zero-scrollbar);
}

.vp-doc a {
  text-decoration: none;
}
.vp-doc a:hover {
  text-decoration: underline;
}

.vp-doc :not(pre) > code {
  user-select: all;
}

.vp-doc :not(pre) > kbd {
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
  padding: 0 6px;
  font-weight: 500;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-alt);
}

/* 表格样式 */
.vp-doc table p,
.vp-doc ul,
.vp-doc ol {
  margin: 1rem 0;
}
.vp-doc tr:nth-child(2n) {
  background-color: var(--table-evenrow-color);
}

.vp-doc tr:hover {
  background-color: var(--table-focusrow-color);
}

.vp-doc th {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--table-border-color);
  background-color: var(--table-th-bg-color);
  color: var(--table-th-font-color);
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 13px 13px;
}

.vp-doc tr td {
  border: 1px solid var(--table-border-color);
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.vp-doc tr th:first-child,
.vp-doc tr td:first-child {
  margin-top: 0;
}

.vp-doc tr th:last-child,
.vp-doc tr td:last-child {
  margin-bottom: 0;
}

.vp-doc h2 {
  border-top: 1px dashed var(--vp-c-divider);
}

.vp-doc h3::before {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  content: "\f5fd";
  color: skyblue;
  margin-right: 0.4rem;
}

.vp-doc h4 {
  font-size: 18px;
  color: var(--zero-theme);
}

.vp-doc blockquote {
  padding: 15px 20px 15px 16px;
  color: #777;
  border: 1px solid #e3e8f7;
  border-left: 5px solid var(--blockquote-border-left-color);
  background: var(--blockquote-bg-color);
}
